body {
  background-color: #ffffff;
  color: black;
  width: 400px;
  margin: 0;
  text-align: center;
}

.title {
  background-color: #d3d3d3;
  color: black;
  font-size: 12px;
  display: inline-block;
  padding: 1px;
  width: 100%;
  text-align: center;
}

.navigation {
  display: flex;
  text-align: center;
}

.tab {
  width: 200px;
  display: inline-block;
  cursor: pointer;
  font-size: 11px;
  padding: 2px 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.tab:hover {
  background-color: palegreen;
}

.tab.active {
  background-color: lightcyan;
}

.tab img {
  margin: 0 3px;
  width: 12px;
}

.mainTab {
  padding: 0 15px 15px 15px;
}

.sliderName {
  width: 80px;
  display: inline-block;
}

.hidden {
  display: none;
}

.visible {
  display: inline-block;
}

.sliderBlock {
  margin: 10px 0;
}

.slider {
  width: 150px;
  text-align: center;
}

.lists {
  margin: 10px 0;
}

.score {
  display: inline-block;
}

.button {
  width: 370px;
  text-align: right;
}

.selectUpload {
  display: none;
}

.trashIcon {
  width: 15px;
  cursor: pointer;
}

.uploadIcon {
  width: 15px;
  cursor: pointer;
}

.checkboxIcon {
  width: 15px;
  cursor: pointer;
}

hr {
  margin: 20px 0;
}

.journalsTitle {
  display: none;
  margin: 20px -15px;
  background-color: #d3d3d3;
}

.selectRow {
  display: flex;
  vertical-align: middle;
}

.journalImpactFactor {
  text-align: left;
  margin: 0 5px 0 5px;
  width: 40px;
}

.journalISSN {
  text-align: left;
  margin: 0 5px 0 0;
  width: 70px;
}

.journalTitle {
  width: 227.25px;
  text-align: left;
}

.searchBox {
  display: none
}

.queryButton {
  display: none
}

.addQueryButton {
  text-align: right;
}

.help {
  display: block;
}

.hpicon {
  text-align: center;
}

.githubIcon {
  width: 16px;
}
